{% extends "base.html.twig" %}
{% block content %}
<form id="add_article_form" action="/PHP_Rush_MVC/article/articleedit/{{article_id}}" method="POST">
  <label for="name">Title :</label>
  <input type="text" id="title" name="art_title" size="50"
  value="{{article_title}}" required/></br>
  <label for="content">Content :</label>
  <textarea id="art_content" name="art_content" rows="10" cols="80" required>{{article_content}}</textarea>
  <input id="button" type="submit" value="Submit" />
</form>
{% endblock %}
